# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/zips/

# Python
__pycache__/
*.pyc

# Test output
sample_data/test_output.json
sample_data/*.csv
